;>=== Start of PHP Selector Custom Options ===
allow_url_fopen=On
display_errors=On
error_reporting=E_ALL & ~E_DEPRECATED & ~E_STRICT
expose_php=On
file_uploads=On
include_path=.:/opt/alt/php82/usr/share/pear:/opt/alt/php82/usr/share/php:/usr/share/pear:/usr/share/php
log_errors=On
mail.force_extra_parameters=
max_execution_time=480
max_input_time=480
memory_limit=3072M
post_max_size=3072M
upload_max_filesize=3072M
open_basedir=
session.save_path=/opt/alt/php82/var/lib/php/session
session.cookie_secure=Off
session.use_strict_mode=Off
session.cookie_samesite=None
session.cookie_httponly=Off
session.cookie_lifetime=0
session.gc_maxlifetime=1440
short_open_tag=Off
max_input_vars=5000
zlib.output_compression=Off
max_file_uploads=20
disable_functions=system, shell_exec, passthru, mysql_list_dbs, ini_alter, dl, symlink, link, chgrp, leak, popen, apache_child_terminate, virtual, mb_send_mail
date.timezone=UTC
opcache.max_accelerated_files=32531
opcache.interned_strings_buffer=32
opcache.max_file_size=524288
opcache.memory_consumption=384M
;<=== End of PHP Selector Custom Options =====
